*.swp
Makefile.in
aclocal.m4
autoconf
autoheader
autom4te.cache
automake
compile
configure
config.guess
config.log
config.sub
config.status
config.rpath
Makefile
depcomp
install-sh
libtoolize
ltmain.sh
libtool
make/stamp-h1
m4
make/clusterautoconfig.h*
missing
ylwrap
cscope.out
.gdb_history
*.pc
.deps
.libs
*.o
*.la
*.lo
gfs2/convert/gfs2_convert
gfs2/edit/gfs2_edit
gfs2/libgfs2/gfs2l
gfs2/libgfs2/parser.c
gfs2/libgfs2/parser.h
gfs2/libgfs2/lexer.c
gfs2/libgfs2/lexer.h
gfs2/fsck/fsck.gfs2
gfs2/glocktop/glocktop
gfs2/mkfs/mkfs.gfs2
gfs2/mkfs/gfs2_grow
gfs2/mkfs/gfs2_jadd
gfs2/tune/tunegfs2
test-driver
tests/check_meta
tests/check_rgrp
tests/nukerg
tests/testvol
tests/testsuite.log
tests/testsuite.dir
tests/testsuite.trs
tests/atconfig
tests/atlocal
tests/package.m4
tests/testsuite
ABOUT-NLS
po/Makevars.template
po/POTFILES
po/stamp-po
po/remove-potcdate.sed
po/Makefile.in.in
po/Rules-quot
po/boldquot.sed
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
