*~
*.[ao]
*.8

INSTALL
Makefile.in
aclocal.m4
config.guess
config.sub
configure
depcomp
config.h.in
install-sh
missing
aclocal.m4
autom4te.cache
tags
.pc
Makefile
.deps
config.log
config.status
include/config.h
include/credits.h
include/stamp-h1

reiserfsprogs-*.tar.*
/debugreiserfs/debugreiserfs
/fsck/reiserfsck
/mkreiserfs/mkreiserfs
/resize_reiserfs/resize_reiserfs
/tune/reiserfstune
